{%- extends '_boilerplate/_layouts/generic-page-layout.twig' -%}
{%- import '_macros/atomic' as atoms -%}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block content %}
    {{ parent() }}
    <div class="p-10 flex flex-wrap gap-8">


    </div>


{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}