{%- import '_macros/atomic' as atoms -%}

<h2>{{ entry.title }}</h2>

<div class="grid grid-cols-3 gap-8 mb-24">
{% for item in entry.relatedEntries.all() %}
    <a href="{{ item.url }}" class="grid gap-8 content-start">


        <h3>{{ item.title }}</h3>

            {{- atoms.atom('image', 'teaser',  {
            image: item.imageTeaser.one(),
            sizes: '20vw',
            placeholder: 'silhouette',
            loadingStrategy: 'lazy',
            caption: item.caption,
            utilitiesPicture: "h-20"
        }) -}}


    </a>
{% endfor %}
</div>