<div>
{{ entry.title }}

<table class="table table-fixed w-72 mb-12">
  <tbody>
    {% for info in entry.simpleTable %}
      <tr>
        <th>{{ info.name}}</th>
        <td>{{ info.value}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>