{%- extends '_organisms/headers/_header--props' -%}
{%- import '_macros/organic' as organisms -%}
{%- import '_macros/atomic' as atoms -%}

{%- block header -%}
    {%- set classes = collect({
        color: props.get('color') ??? 'text-black',
        font: 'font-primary',
        size: 'text-h1-sm md:text-h1-md lg:text-h1-lg',
        utilities: props.get('utilities'),
    }) -%}

    {%- minify -%}
        <header class="{{ classes.implode(' ') }}">
                <div class="header__content relative z-10">
                    {{- props.get('content')|striptags('<strong>')|typogrify()|raw -}}
                </div>
                <div class="header__bg">
                 {{- atoms.atom('image', 'hero',  {
                    image: header.imageHero.eagerly().collect.first,
                    sizes: '100vw',
                    placeholder: 'image',
                    loadingStrategy: 'eager',
                    utilitiesImage: 'w-full h-full',
                    utilitiesPicture: 'header__bg-image'
                }) -}}
                </div>
        </header>
    {%- endminify -%}
{%- endblock -%}