

<nav id="navigation" class="flex items-center justify-between flex-wrap bg-lime-700 p-6">
<div class="container">
    <div class="w-3/4 block flex-grow lg:flex lg:items-center">
  <div class="text-sm lg:flex-grow">
      <a class="block mt-4 lg:inline-block lg:mt-0 text-lime-200 hover:text-white mr-4 text-lg" href="/">Home</a>
    </div>


  {% for entry in craft.entries.section('pages').eagerly().collect.all() %}
  <div class="w-3/4 block flex-grow lg:flex lg:items-center">
  <div class="text-sm lg:flex-grow">
      <a class="block mt-4 lg:inline-block lg:mt-0 text-lime-200 hover:text-white mr-4 text-lg" href="{{entry.url}}">{{entry.title}}</a>
    </div>
  {% endfor %}
</div>
</nav>